# App Config
NODE_ENV=production
PORT=6000

# Database
DATABASE_URL=your_mongodb_connection_string_here

# Auth
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=20d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Redis
REDIS_URL=your_redis_connection_string